# Environments
.venv
venv/
venv.bak/

# Git
.git/

# Python
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

#Logs
*.log
